{% extends 'base.html' %}

{% block body %}
<br><br>
<h3 class="text-light">Who are you?</h3>
<p class="text-light">I am Yuwen Lu, currently a Junior student from School of Software Technology, Dalian University
    of Technology.</p>
<br>
<h3 class="text-light">Why did you decide to make this web app?</h3>
<p class="text-light">This is the project for my optional course Open Source Software Basics. We are asked to make
    something with python, so I decided to use the famous python web microframework Flask to make this web app.</p>
<br>
<h3 class="text-light">Why a Conference Assistant?</h3>
<p class="text-light">I served as the President of our campus's Model United Nations Association during the past year.
    <br>
    When we were organizing campus-wide conferences, I found out that there's no such a cross-platform MUN conference
    hosting software on the market or on the internet, so I decided to make a web app for this purpose on my own.
    <br>I have learned much through MUN and I really appreciate the opportunities our university's MUN Association has
    provided with me. I'm glad that I could give back to the community in this way.</p>

{% endblock %}