<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/mystyle.css">
  <title>{% block title %} {% endblock %}</title>
</head>

<body style="height: 100%; margin: 0;">
  {% include 'includes/_navbar.html' %}
  <div class="bg-img">
    <div class="container">
      {% block body %} {% endblock %}
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="footer-text">Copyright &copy; 2018, Yuwen Lu. All rights reserved.</div>
    </div>
  </footer>





</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
  .footer-text {
    color: #fff;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* Set the fixed height of the footer here */
    line-height: 40px;
    /* Vertically center the text there */
    background-color: #3c3d4188;
  }
</style>

</html>