<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/mystyle.css">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  {% include 'includes/_navbar.html' %}
  <br><br>
  <div class="container">
    {% block body %} {% endblock %}
  </div>


  <footer class="footer">
    <div class="container">
      <div class="text-muted">Copyright &copy; 2018, Yuwen Lu. All rights reserved.</div>
    </div>
  </footer>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>




</body>

</html>