{% extends 'base.html' %}

{% block title %}Countries{% endblock %}

{% block body %}

<div class="header text-light">
    <br><br>
    <h1>Countries Present</h1>
</div>

<!--list-->

<ul>
    {% for country in country_list %}

    <li class="country-list"><a class="text-light" href="{{ url_for('timer') }}">{{country}}</a></li>

    {% endfor %}

</ul>

<style>
    ul {
        margin: 40px;
    }

    .country-list {
        list-style: none;
        font-size: 150%
    }

    .country-list a:hover,
    .country-list a:active,
    .country-list a:visited {


        color: #35393d;

    }
</style>


{% endblock %}