{% extends 'base.html' %}
{% block title %} Timer Page {% endblock %}


{% block body %}
<h1 class="center time-countdown text-light" id="demo"></h1>

<script>
    //receive the countdown time from URL
    var countdown = {{ time }};

    // Update the count down every 1 second
    var x = setInterval(function () {

        //get the minute and second 
        var min = Math.floor(countdown / 60);
        var sec = countdown - 60 * min;

        // Output the result in an element with id="demo"

        if (sec < 10) {
            document.getElementById("demo").innerHTML = min + " : " + "0" + sec;
        }
        else {
            document.getElementById("demo").innerHTML = min + " : " + sec;
        }


        // If the count down is over, write some text 
        if (countdown < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
        countdown -= 1;
    }, 1000);
</script>

<div class="center center-button">
    <button type="button" class="btn btn-outline-light">
        <a class="button-link" href="{{url_for('countries')}}">Country List</a>
    </button>
</div>

<style>
    .center {
        text-align: center;
    }

    .time-countdown {
        padding-top: 13%;
        font-size: 10em;
    }

    .button-link:hover,
    .button-link:visited,
    .button-link:active {
        text-decoration: none;
        color: #ffffff;

    }
</style>

{% endblock %}